.container {
  color: white;
  padding: var(--page-padding);
  background-color: black;
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.header {
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
  font-size: var(--heading-size);
  font-weight: var(--heading-weight);
  padding-bottom: 1rem;
}

.paragraph {
  font-family: var(--body-font);
  font-size: 2rem;
  word-spacing: var(--word-spacing);
  letter-spacing: var(--letter-spacing);
  line-height: 1.2;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 3rem;
  padding-right: 2rem;
}

.word {
  margin-right: 12px;
  margin-top: 12px;
  position: relative;
}

.shadow {
  position: absolute;
  opacity: 0.3;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  font-family: var(--body-font);
  cursor: pointer;
}

@media only screen and (min-width: 360px) and (max-width: 450px) {
  .container {
    padding-top: 3rem;
  }

  .header {
    font-size: 2rem;
    line-height: 1;
    padding-bottom: 0.2rem;
  }
  .paragraph {
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-right: 0.8rem;
    display: flex;
    justify-content: start;
  }
  .word {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 567px) {
  .container {
    padding-top: 3rem;
  }

  .header {
    font-size: 2.4rem;
    line-height: 1;
    padding-bottom: 0.2rem;
  }
  .paragraph {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 0.8rem;
    display: flex;
    justify-content: start;
  }
  .word {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 768px) {
  .container {
    padding-top: 4rem;
  }

  .header {
    font-size: 3.4rem;
    line-height: 1;
    padding-bottom: 0.3rem;
  }
  .paragraph {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 0.9rem;
    display: flex;
    justify-content: start;
  }

  .word {
    margin-right: 7px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding-top: 5rem;
  }

  .header {
    font-size: 3.2rem;
    line-height: 1;
    padding-bottom: 0.5rem;
  }
  .paragraph {
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 0.9rem;
    display: flex;
    justify-content: start;
  }

  .word {
    margin-right: 7px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1258px) {
  .container {
    padding-top: 5rem;
  }

  .header {
    font-size: 4rem;
    line-height: 1;
    padding-bottom: 0.5rem;
  }
  .paragraph {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 0.9rem;
    display: flex;
    justify-content: start;
  }

  .word {
    margin-right: 7px;
  }
}
